{"openapi":"3.1.0","info":{"title":"Linfed | Server manager API","version":"0.1.0"},"servers":[{"url":"https://cs.linfed.ru"}],"paths":{"/api/servers":{"get":{"tags":["CS2 Handlers"],"summary":"List Servers","operationId":"list_servers_api_servers_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/maps":{"get":{"tags":["CS2 Handlers"],"summary":"List Maps","operationId":"list_maps_api_maps_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/MapItem"},"type":"array","title":"Response List Maps Api Maps Get"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/server-start":{"post":{"tags":["CS2 Handlers"],"summary":"Start Server","operationId":"start_server_api_server_start_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerStartResponse"}}}},"400":{"description":"Uncorrected Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"408":{"description":"Request Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/server-stop":{"post":{"tags":["CS2 Handlers"],"summary":"Stop Server","operationId":"stop_server_api_server_stop_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ServerStopResponse"},{"$ref":"#/components/schemas/ErrorResponse"}],"title":"Response Stop Server Api Server Stop Post"}}}},"400":{"description":"Uncorrected Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"408":{"description":"Request Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/server/settings":{"post":{"tags":["CS2 Handlers"],"summary":"Execute Commands","operationId":"execute_commands_api_server_settings_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerSettingsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerSettingsResponse"}}}},"400":{"description":"Uncorrected request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/newchannel":{"post":{"tags":["TS3 Handlers"],"summary":"Ts3 New Channel","operationId":"ts3_new_channel_api_newchannel_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ts3NewChannelRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Ts3NewChannelResponse"}}}},"400":{"description":"Uncorrected request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"properties":{"status":{"type":"string","title":"Status"},"msg":{"type":"string","title":"Msg"}},"type":"object","required":["msg"],"title":"ErrorResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"MapChangeResponse":{"properties":{"status":{"type":"string","title":"Status"},"msg":{"type":"string","title":"Msg"}},"type":"object","required":["status","msg"],"title":"MapChangeResponse"},"MapItem":{"properties":{"name":{"type":"string","title":"Name"},"map_id":{"type":"integer","title":"Map Id"}},"type":"object","required":["name","map_id"],"title":"MapItem"},"ServerOffline":{"properties":{"status":{"type":"string","title":"Status","default":"offline"},"server_id":{"type":"integer","title":"Server Id"},"name":{"type":"string","title":"Name"}},"type":"object","required":["server_id","name"],"title":"ServerOffline"},"ServerOnline":{"properties":{"status":{"type":"string","title":"Status","default":"online"},"server_id":{"type":"integer","title":"Server Id"},"name":{"type":"string","title":"Name"},"ip":{"type":"string","title":"Ip"},"port":{"type":"integer","title":"Port"},"map_id":{"type":"integer","title":"Map Id"},"players_current":{"type":"integer","title":"Players Current"},"players_max":{"type":"integer","title":"Players Max"}},"type":"object","required":["server_id","name","ip","port","map_id","players_current","players_max"],"title":"ServerOnline"},"ServerRequest":{"properties":{"server_id":{"type":"integer","title":"Server Id"}},"type":"object","required":["server_id"],"title":"ServerRequest"},"ServerResponse":{"items":{"anyOf":[{"$ref":"#/components/schemas/ServerOnline"},{"$ref":"#/components/schemas/ServerOffline"}]},"type":"array","title":"ServerResponse"},"ServerSettingsRequest":{"properties":{"server_id":{"type":"integer","title":"Server Id"},"map_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Map Id","description":"Paste map_id from /maps"}},"type":"object","required":["server_id"],"title":"ServerSettingsRequest"},"ServerSettingsResponse":{"properties":{"data":{"$ref":"#/components/schemas/SettingsResponse"}},"type":"object","required":["data"],"title":"ServerSettingsResponse"},"ServerStartResponse":{"properties":{"status":{"type":"string","title":"Status"},"data":{"$ref":"#/components/schemas/ServerOnline"}},"type":"object","required":["status","data"],"title":"ServerStartResponse"},"ServerStopResponse":{"properties":{"status":{"type":"string","title":"Status"},"data":{"$ref":"#/components/schemas/ServerOffline"}},"type":"object","required":["status","data"],"title":"ServerStopResponse"},"SettingsResponse":{"properties":{"map_change":{"anyOf":[{"$ref":"#/components/schemas/MapChangeResponse"},{"type":"null"}]}},"type":"object","required":["map_change"],"title":"SettingsResponse"},"Ts3NewChannelRequest":{"properties":{"channel_name":{"type":"string","title":"Channel Name"},"channel_pass":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Channel Pass"}},"type":"object","required":["channel_name"],"title":"Ts3NewChannelRequest"},"Ts3NewChannelResponse":{"properties":{"status":{"type":"string","title":"Status"},"msg":{"type":"string","title":"Msg"}},"type":"object","required":["status","msg"],"title":"Ts3NewChannelResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}},"tags":[{"name":"CS2 Handlers","description":""},{"name":"TS3 Handlers","description":""}]}